<div id="footer-sec">
    &copy; 2014 YourCompany
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/dashboard/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/dashboard/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/dashboard/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/dashboard/js/custom.js"></script>
<!-- BOOTSTRAP FILE UPLOAD SCRIPT -->
<script src="/dashboard/js/bootstrap-fileupload.js"></script>

</body>

</html>